<ul class="list pl0 flex flex-wrap" id="recipe-list">
  {% for recipe in recipes %}
    <li class="ba bw1 pa2 mr2 mb2">
      <div>
        <a href="{% url 'recipe_detail' recipe_pk=recipe.pk %}">{{ recipe.title }}</a> (by {{ recipe.user }})
      </div>
      <div>{% if not recipe.public %}<b>private</b>{% endif %}</div>
      <div>favorited {{ recipe.times_favorited }} time{{ recipe.times_favorited|pluralize }}</div>
      <div>cooked {{ recipe.times_cooked }} time{{ recipe.times_cooked|pluralize }}</div>
      <div>{{ recipe.total_time_in_minutes }} minutes to make</div>
    </li>
  {% endfor %}
</ul>
