{% extends "base.html" %}

{% block content %}
<h2>Recipes</h2>

<p>
  <a href="{% url 'random_recipe' %}">Take me to a random recipe</a>
</p>

<p>
  <a href="{% url 'add_recipe' %}">Add new recipe</a>
</p>

<ul>
  {% for recipe in recipes %}
    <li>
      <a href="{% url 'recipe_detail' recipe_pk=recipe.pk %}">{{ recipe.title }}</a> (by {{ recipe.user }}) {% if not recipe.public %}<b>private</b>{% endif %}
      -- favorited {{ recipe.times_favorited }} time{{ recipe.times_favorited|pluralize }}
    </li>
  {% endfor %}
</ul>

{% endblock %}
