{% extends "base.html" %}

{% block content %}
<h2>Recipes</h2>

<p>
  <a href="{% url 'random_recipe' %}">Take me to a random recipe</a>
</p>

<p>
  <a href="{% url 'add_recipe' %}">Add new recipe</a>
</p>

<ul class="list pl0 flex flex-wrap">
  {% for recipe in object_list %}
    <li class="ba bw1 pa2 mr2 mb2">
      {% if recipe.photo %}
      <div><img src="{{ recipe.photo_thumbnail.url }}"></div>
      {% endif %}
      <div>
        <a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a> (by {{ recipe.user }})
      </div>
      <div>{% if not recipe.public %}<b>private</b>{% endif %}</div>
      <div>favorited {{ recipe.times_favorited }} time{{ recipe.times_favorited|pluralize }}</div>
    </li>
  {% endfor %}
</ul>

{% endblock %}
