{% extends "base.html" %}

{% block content %}
<h1>Meal plan for {{ date }}</h1>

<p>
  <a href="{% url 'show_meal_plan' year=prev_day.year month=prev_day.month day=prev_day.day %}">{{ prev_day }}</a> |
  <a href="{% url 'show_meal_plan' year=next_day.year month=next_day.month day=next_day.day %}">{{ next_day }}</a>
</p>

<div class="flex">
<div class="w-50 pr3 flex flex-column">
  <h2>Recipes to make</h2>
  <div id="meal-plan" class="flex-auto">
  {% for recipe in plan.recipes.all %}
    <div class="pa2 ba bw1 mb2" style="cursor: move" data-pk="{{ recipe.pk }}">{{ recipe.title }}</div>
  {% endfor %}
  </div>
</div>

<div class="w-50 flex flex-column">
  <h2>Available recipes</h2>
  <div id="recipes" class="flex-auto">
  {% for recipe in recipes.all %}
    <div class="pa2 ba bw1 mb2" style="cursor: move" data-pk="{{ recipe.pk }}">{{ recipe.title }}</div>
  {% endfor %}
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const date = '{{ date|date:"Y-m-d" }}'

  dragula([
    document.getElementById("meal-plan"),
    document.getElementById("recipes")
  ])
  .on('drop', (el, target, source, sibling) => {
    if (target === source) {
      return
    }

    const formData = new FormData()
    formData.append("pk", el.dataset.pk)
    formData.append("date", date)

    if (target.id === "meal-plan") {
      formData.append("action", "add")
    } else if (target.id === "recipes") {
      formData.append("action", "remove")
    }

    fetch('/mealplan/add-remove/', {
      body: formData,
      method: 'POST'
    }).then(() => {})
  })
</script>
{% endblock %}
